<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (tales.length > 0) { %>
                    <div class="grid">
                        <% for (let talent of tales) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= talent.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= talent.imageUrl %>" alt="<%= talent.title %>">
                                </div>
                                <div class="card__content">
                                    <!--<h2 class="product__price">$
                                        <%= product.price.toFixed(2) %>
                                    </h2>-->
                                    <p class="product__description">
                                        <%= talent.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/talents/<%= talent._id %>" class="btn">Details</a>
                                    <% if (isAuthenticated) { %>
                                        <%- include('../includes/add-to-cart.ejs', {talent: talent}) %>
                                    <% } %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Talents Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>